<div class="form-field">
  <label for="customerName">Customer Name</label>
  <input name="customerName"
         placeholder="Enter Name"
         [(ngModel)]="customerName">
</div>

<div class="form-field">
  <label for="bedsRequested">No. of Beds</label>
  <input type="number"
         name="bedsRequested"
         max="3"
         min="1"
         [(ngModel)]="bedsRequested">
</div>

<label for="numOfPets">No. of Pets</label>
<input type="number"
       name="numOfPets"
       max="2"
       min="0"
       [(ngModel)]="numOfPets">

<div class="form-field">
  <label for="accessibility">
    Requesting Accessible Room
    <input type="checkbox"
           name="accessibility"
           [(ngModel)]="accessibleRoom">
  </label>
</div>

<button type="button"
        (click)="bookRoom()">
  Book!
</button>

<p *ngIf="room">
  {{ customer.name }} has booked a {{ room.beds }}-bed
  room on the {{ room.level }}<sup>{{ room.level === 1 ? 'st' : 'nd'}}</sup>
  floor.
</p>

<p *ngIf="room">
  <strong>Total:</strong> ${{ bookingService.calculateTotal(customer.numberOfPets, room.beds) }}
</p>