/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap');
@import './assets/variables';
* { box-sizing: border-box }
body {
 background: url('https://www.toptal.com/designers/subtlepatterns/patterns/folk-pattern.png');
 height: 100vh;
 width: 100vw;
}
.text-primary { color: $primary }